body {
    background-image: url("images/lace_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}

a {
    color: lightblue;
    font-size: 20px;
    font-family: cursive;
}

h1 {
    text-align:center
    color: red;
    font-size: 20px;
    font-family: cursive;
}
#portfolio_project1 {
    color:lightblue;
    font-size: 20px;
    font-family: cursive;
    text-align: left;
}

#portfolio_project2 {
    color:green;
    font-size: 20px;
    font-family: cursive;
    text-align: left;
}

#testthing {
    color: lightblue; 
    font-family: cursive;
    
}

#mephoto {
    border-style: solid; 
    border-color: white; 
    border-width: 10px;
    margin-left: 550px;
    
}

tr:nth-child(even){background-color:lightgreen;}
tr:nth-child(odd){background-color:white;}

#aboutmetable {
    color: green;
    font-size: 30px;
    font-family: cursive;
    
}

table {
 	   color: red;
        font-size: 20px;
        font-family: cursive;
 	   margin-left: auto;
 	   margin-right: auto;
 	   text-align: left;
 	   border-collapse: collapse;
   }

tr   {
	  color: red;
        font-size: 20px;
        font-family: cursive;
	  text-align: center;
  }

th   {
	 text-align: center;
  }
  
td {
      color: red;
        font-size: 20px;
        font-family: cursive;
      padding: 15px;
   }
   
figure {
        color: red;
        font-size: 20px;
        font-family: cursive;
}
